@use "../sass/variables" as *;

.dropdown::marker {
  content: "" !important;
}
.dropdown-toggle::after {
  border: none;
}

.profile {
  background-color: rgba(4, 106, 114, 0.14);
}
.avatar-img {
  width: 35px;
  height: 35px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 13px;

  .line {
    display: block;
    height: 3px;
    width: 34px;
  }
}
