<nav class="navbar navbar-expand-lg">
    <div class="container-xxl">
        <a class="navbar-brand" href="#"><img src="../../assets/images/Logo%20New.svg" alt="El-sweedy logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item notifications me-3">
                    <a class="nav-link" href="#"><img src="../../assets/images/notifications.svg"
                            alt="notification=icon"></a>
                    <span class="num"></span>
                </li>
                <li class="nav-item profile me-3">
                    <a class="nav-link active d-flex align-items-center ps-3" aria-current="page" href="#">
                        <i class="fas text-secondary fs-6 fa-chevron-down me-2"></i>
                        <div class="avatar-img overflow-hidden">
                            <img src="../../assets/images/avatar-svgrepo-com.svg" alt="avatar">
                        </div>
                    </a>
                </li>
                <li class="nav-item side-menu">
                    <div class="hamburger">
                        <span class="bg-secondary d-block line"></span>
                        <span class="bg-secondary d-block line "></span>
                        <span class="bg-secondary d-block line "></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>