$main-color: #070707;
$secondary-color: #aaaaaa;
$ticket-border-color: #cccccc;

$running-ticket-bg: #e5f4ff;
$running-ticket-border: #0090ff;
$running-status-color: #0090ff;

$finished-ticket-border: #12bb12;
$finished-ticket-bg: #f6fff6;
$finished-status-color: #12bb12;

$queued-ticket-bg: transparent;
$queued-ticket-border: #00afd8;
$queued-status-color: #808080;

$new-ticket-bg: transparent;
$new-ticket-border: #00afd8;
$new-status-color: #000000;
