<main class="pt-3">
    <div class="container-fluid">

        <app-page-title></app-page-title>

        <div class="tickets-container">
            <ng-container *ngFor="let ticket of getPaginatedTickets(); let i = index">
                <app-ticket [ticket]="ticket"></app-ticket>
            </ng-container>

            <app-pagination class="mx-auto" [totalTickets]="totalTickets" [ticketsPerPage]="ticketsPerPage"
                (pageChanged)="onPageChanged($event)"></app-pagination>
        </div>

    </div>
</main>